# Xcode
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
DerivedData/
*.xcuserstate
*.xccheckout

# Swift Package Manager
.build/
*.resolved

# Model soubory (velké binární soubory)
*.onnx
espeak-ng-data/

# XCFrameworks (velké soubory)
*.xcframework/

# macOS
.DS_Store
